{{#if template}}
<template>
  <div class="{{fileName}}">
  </div>
</template>
{{/if}}

{{#if script}}

<script lang="ts">
  import Vue from "vue";
  export default Vue.extend({
    name: '{{fileName}}',
    props: {},
    data() {
      return {}
    },
    created() { },
    mounted() { },
    methods: {}
  });
</script>
{{/if}}

{{#if style}}
<style lang="scss" scoped>
</style>
{{/if}}