/* dialog和messageBox 背景蒙版 */
.v-modal{background-color: #333333;opacity: 0.3;}

/* alert：$message-关闭按钮位置 */
.troilaAlart.el-message.is-closable .el-message__content{padding-right:32px}

/* messageBox $msgbox $confirm $alert $prompt */
.troilaConfirm.el-message-box {
    border-radius: 10px;
    padding-bottom: 24px;
}
.troilaConfirm .el-message-box__header {
    padding: 12px 20px 0px;
}
.troilaConfirm .el-message-box__headerbtn {
    top: 12px;
    height: 24px;
    line-height: 24px;
}
.troilaConfirm .el-message-box__title {
    display: block;
    font-size: medium;
    color: #333333;
    border-bottom: 1px solid #dde2ee;
    text-align: left;
    padding-bottom: 10px;
    line-height: 24px;
}
.troilaConfirm .el-message-box__content {
    padding: 30px 20px;
}
.troilaConfirm .el-message-box__message>p{
    line-height: 22px;
}
.troilaConfirm .el-message-box__message>p::before {
    content:'';
    display: inline-block;
    background: url('../images/tips-small.png') no-repeat center center/100% 100%;
    width: 25px;
    height: 25px;
    vertical-align: top;
    margin: -2px 8px -1px 0;
}
.troilaConfirm .el-button {
    width: 80px;
    height: 32px;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    float: right;
}
.troilaConfirm .el-message-box__btns button:nth-last-child(n+2){
    margin-left: 24px;
}

/* el-dialog */
.troilaDialog .el-dialog {
    border-radius: 10px;
}
.troilaDialog .el-dialog__header {
    padding: 12px 20px 0px;
}
.troilaDialog .el-dialog__headerbtn {
    top: 12px;
    height: 24px;
    line-height: 24px;
}
.troilaDialog .el-dialog__title {
    display: block;
    font-size: medium;
    color: #333333;
    border-bottom: 1px solid #dde2ee;
    text-align: left;
    padding-bottom: 10px;
}
.troilaDialog .el-dialog__wrapper .el-dialog {
    width: 450px;
}
.troilaDialog .image {
    background: url(../images/tips-big.png) no-repeat center center;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
}
.troilaDialog .detail {
    margin: 10px 0;
    text-align: center;
    font-size: 14px;
    color: #333333;
}
.troilaDialog .time {
    font-size: 12px;
    padding-bottom: 10px;
    color: #a6aabb;
    display: block;
    text-align: center;
}
.troilaDialog .small-image {
    display: inline-block;
    background: url(../images/tips-small.png) no-repeat center center;
    width: 25px;
    height: 25px;
}
.troilaDialog .desc {
    vertical-align: super;
}
.troilaDialog .el-button {
    border-radius: 20px;
}
.troilaDialog .el-form-item__label {
    width: 90px !important;
    padding-right: 10px;
}
.troilaDialog .el-form-item__content {
    margin-left: 90px !important;
}
.troilaDialog .el-button {
    width: 80px;
    height: 32px;
    padding: 0;
    box-sizing: border-box;
}

/* el-form */
.toila-form {
    font-size: 0;
}
.toila-form .el-form-item__label {
    line-height: 32px;
}
.toila-form .el-input__suffix {
    line-height: 32px;
}
.toila-form .el-input__icon {
    line-height: 32px;
    height: 32px;
}
.toila-form .el-input__prefix {
    line-height: 32px;
}
.toila-form .el-form-item__content{
    line-height: 32px;
}
.toila-form .el-col-2 {
    text-align: center;
    line-height: 32px;
}
.toila-form .el-form-item__label {
    padding: 0 16px 0 0;
}
.toila-form .el-input__inner {
    vertical-align: top;
    height: 32px;
    border-radius: 3px;
    padding: 0 10px;
}
.toila-form .el-form-item {
    margin-bottom: 20px;
}
.toila-form .el-col-11 {
    margin-bottom: -20px;
}
.toila-form .el-input--prefix .el-input__inner {
    padding-left: 30px;
}
.toila-form .el-input--suffix .el-input__inner {
    padding-right: 30px;
}
.toila-form .el-textarea__inner {
    resize: none;
}
.toila-form .detail {
    display: flex;
    line-height: 32px;
}
.toila-form .detail .el-input__inner {
    border-radius: 3px 0 0 3px;
}
.toila-form .detail .el-input .el-input__inner::after {
    content: "查询";
}
.toila-form .detail .find {
    box-sizing: border-box;
    padding: 0 10px;
    width: 15%;
    height: 32px;
    border-radius: 0 3px 3px 0;
}
.toila-form .el-button {
    width: 80px;
    height: 32px;
    padding: 0;
    box-sizing: border-box;
}

/* el-pagination */
.troilaPage.el-pagination__total{
    margin-left: 12px;
}
.troilaPage .el-pager li{
    border: 1px solid #e2e2e2;
    min-width: 40px;
    margin-right: -1px;
    line-height: 30px;
    height: 30px;
}
.troilaPage.el-pagination .btn-next, .troilaPage.el-pagination .btn-prev{
    padding: 0 13px;
    border: 1px solid #e2e2e2;
    margin-right: -1px;
    min-width: 38px;
}
.troilaPage.el-pagination .btn-next{
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.troilaPage.el-pagination .btn-prev{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.troilaPage.el-pagination button, .troilaPage.el-pagination span:not([class*=suffix]){
    line-height: 30px;
    height: 30px;
}
.troilaPage .el-pager li:hover,.troilaPage.el-pagination button:hover{
    color: #4C5BFF;
}
.troilaPage.el-pagination button:disabled:hover{
    color: #C0C4CC;
}
.troilaPage .el-pager li.active{
    background-color: #4C5BFF;
    color: #fff;
    border-color: #4C5BFF;
    z-index: 2;
    position: relative;
}
.troilaPage .el-pagination__total{
    margin-left: 20px;
}

/* el-table滚动条样式修改为统一样式 */
.el-table__body-wrapper::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.el-table__body-wrapper::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 3px;
}
.el-table div.cell .button{
    margin-right: 16px;
}
.el-table div.cell .button:nth-last-child(1){
    margin-right: 0
}