@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  font-size: 14px;
  color: #484b5c;
  word-break: break-all;
  background: #ffffff;
}
img {
  border: none;
}
/* 上下标 */
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
/* 表格标题及内容居左显示 */
caption,
th {
  text-align: left;
}
input,
img,
select {
  vertical-align: middle;
}
/* 输入控件字体 */
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
/* 鼠标样式 */
input[type="submit"] {
  cursor: pointer;
}
button,
.buttonDiv {
  cursor: pointer;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* 去除谷歌和火狐浏览器中input为number时的箭头 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
button {
  padding: 0;
}

/* 左浮动 */
.left {
  float: left;
}

/* 右浮动 */
.right {
  float: right;
}

/* 字体加粗 */
.weight {
  font-weight: bold;
}

/* a链接 */
a,
a:hover {
  text-decoration: none;
}

/* 数字字体 */
.number {
  font-family: "Arial", "Font_Arial";
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.ClearFloat::after {
  content: "";
  display: block;
  clear: both;
}
i.clear {
  display: block;
  clear: both;
}
.textEllipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.textEllipse > * {
  display: inline;
}

.bolder,
.bolder * {
  font-weight: bold;
}

.width100 {
  width: 100%;
}
.height100 {
  height: 100%;
}

/* 图片cover */
.CoverImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* 不可选中文字 */
.UnableSelText {
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none; /* you could also put this in a class */
  -webkit-user-select: none; /* and add the CSS class here instead */
  -ms-user-select: none;
  user-select: none;
}

/* 可点击效果 */
.AbleClick {
  cursor: pointer !important;
  transition: all 0.15s ease;
}
.UnableClick {
  cursor: no-drop !important;
}
.DefaultClick {
  cursor: default !important;
}

/* 不显示表达式 */
[v-cloak] {
  display: none;
}

/* input */
input {
  line-height: 1;
}
input,
textarea {
  color: #606661;
  box-sizing: border-box;
}
input:focus,
textarea:focus,
button:focus,
img:focus,
input,
textarea,
button,
video,
video:focus {
  outline: none;
}
input:-moz-placeholder,
textarea:-moz-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #cbcbcb;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #cbcbcb;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #cbcbcb;
}
textarea {
  resize: none;
  -webkit-appearance: none;
}
/* 公用transition */
.publicTransition-leave-active {
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.publicTransition-enter-active {
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.publicTransition-enter,
.publicTransition-leave-to {
  opacity: 0;
}
textarea::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}
textarea::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, 0.3);
  height: 50px;
  outline-offset: -2px;
  -webkit-border-radius: 5px;
}
textarea::-webkit-scrollbar-track-piece {
  background-color: none;
  -webkit-border-radius: 5px;
}
/* 星号 */
i.must {
  color: #ff4247;
  display: inline-block;
  font-family: "Microsoft YaHei";
  padding: 0 5px;
  margin-left: -32px;
  width: 32px;
  text-align: right;
  box-sizing: border-box;
  vertical-align: top;
}
i.must::before {
  content: "*";
}

.el-scrollbar__wrap {
  overflow-x: hidden;
  margin-bottom: 0 !important;
}

.srcoll-box {
  height: 100%;
}

.main-box {
  background-color: rgba(255, 255, 255, 1);
  /* box-shadow: 0px 5px 10px 0px rgba(199, 199, 199, 0.3);
  border-radius: 10px; */
}

i.title-font {
  display: inline-block;
  line-height: 34px;
  font-size: 16px;
}
i.title-font::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 4px;
  height: 22px;
  border-radius: 3px;
  margin: 5px 7px 0 0;
}

.search-box [class*="el-col-"] {
  float: unset;
  float: none;
}
.search-box .troila-form {
  padding: 0 20px 0 0;
}
.search-box .troila-form::after {
  content: "";
  display: block;
  clear: both;
}
.search-box .el-form-item {
  white-space: nowrap;
}
.search-box .troila-select-inline {
  width: 25%;
}
.search-box .el-form--inline .troila-select-inline.right {
  margin-right: -20px;
  text-align: right;
  width: auto;
}
@media screen and (max-width: 1530px) {
  .search-box .troila-select-inline {
    width: 33.33%;
  }
}
.search-box .el-form--inline .el-form-item {
  margin-right: 20px;
  padding-left: 0;
}
.search-box .el-form--inline .el-form-item.searchBtn {
  /* display: block;
  text-align: center;
  padding-left: 30px; */
  float: right;
}
.search-box .searchBtn .el-form-item__content {
  font-size: 0;
}
.search-box .el-select > .el-input {
  width: 100%;
}

.table-box {
  padding: 10px 0px 0px 0px;
}

/* .table-box:last-child {
  padding-bottom: 40px;
} */

.table-box-title {
  text-align: left;
  /* border-bottom: 2px dashed #eee;
  margin-bottom: 16px; */
}

.table-box-title > div {
  float: right;
  padding: 0 0 12px;
  margin: -22px -18px 0 0;
}
.table-box-title .troila-form button {
  min-width: 80px;
  /* min-width: 96px; */
  padding: 0 18px 0 17px;
  margin-bottom: 12px;
  width: auto;
}
/* .table-box-title .troila-form button:last-child {
  margin-right: 0;
} */

.form-header {
  text-align: left;
  border-bottom: 1px dashed #d2d2d2;
  padding-bottom: 18px;
}
.form-header .header-line {
  border-left: 2px solid red;
}

.form-body {
  font-size: 0;
}

.troila-form .el-form-item.btn-box {
  display: block;
  padding-top: 30px;
  padding-bottom: 40px;
  /* margin-left: -80px; */
}
/* 
button svg:not(.headerIcon) {
  display: inline-block;
  vertical-align: top;
  width: 14px;
  height: 14px;
  margin: 8px 4px 0 -3px;
  transition: 0.1s;
} */

.no-shadow {
  box-shadow: none !important;
}
.full-input {
  width: 100% !important;
}
.mid-box.inner-content {
  /* margin: 4vh 5%;
  width: 90% !important;
  padding: 0 4% 22px; */
}
.table-box-title.search-right {
  float: right;
}
.form-left {
  float: left;
}
.el-form-item__content .table-box-title.search-right > div {
  margin-top: 0;
  padding-right: 0;
}
.el-form-item__content .table-box-title.search-right > div button {
  margin-bottom: 0;
}
.has-tree {
  /* margin-left: 321px; */
}
.empty-text {
  text-align: center;
  font-size: 14px;
  color: #999;
  padding: 40px 0;
}
.addIcon {
  background: url("../images/icon/add.png") center center/100% 100% no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: top;
}

.uploadView {
  width: 100%;
  height: 100%;
  padding: 60px 50px 30px;
  background-color: transparent;
}
.uploadView > .el-dialog__body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  box-sizing: border-box;
  background-color: transparent;
  padding: 0;
  position: relative;
}
.uploadView > .el-dialog__header {
  padding: 0;
}
.uploadView > .el-dialog__header > .el-dialog__headerbtn {
  font-size: 40px;
  top: 10px;
  right: 30px;
}
.uploadView > .el-dialog__header > .el-dialog__headerbtn > .el-dialog__close {
  color: #ffffff;
  opacity: 0.8;
  transition: opacity 0.15s ease;
  text-shadow: 0 0 5px rgba(25, 36, 73, 0.7);
}
.uploadView
  > .el-dialog__header
  > .el-dialog__headerbtn:hover
  > .el-dialog__close {
  opacity: 1;
}
.uploadView > .el-dialog__body .uploadViewComtent {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.15s ease;
}
.uploadViewErr {
  width: 500px;
  height: 500px;
}
.uploadViewErr > i {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  font-size: 80px;
  line-height: 200px;
  text-align: center;
  margin: 60px auto 100px;
  background-color: #dcdcdc;
  box-shadow: 0 0 10px #83868b;
}
.uploadViewErr > i.uploadViewd {
  background-color: #4b84e6;
  color: #fff;
}
.uploadViewErr > i.uploadViewx {
  background-color: #0ccda9;
  color: #fff;
}
.uploadViewErr > i.uploadViewp {
  background-color: #f14f19;
  color: #fff;
}
.uploadViewErr > span {
  display: block;
  text-align: center;
  font-size: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 0px;
  border-radius: 6px;
}
.uploadView > .el-dialog__body .uploadViewComtent.hidden {
  opacity: 0;
}
.uploadView > .el-dialog__body .el-icon-loading {
  position: absolute;
  left: 50%;
  top: 45%;
  font-size: 50px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.15s ease;
  margin-left: -25px;
}
.uploadView > .el-dialog__body .uploadViewComtent.hidden + .el-icon-loading,
.uploadView > .el-dialog__body .el-icon-loading:only-child {
  opacity: 1;
}
.houseTitle {
  font-size: 18px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  line-height: 28px;
  color: #303234;
  text-align: left;
  position: relative;
  padding: 0 12px;
  margin: 0 0 0 8px;
  background: #eef2ff;
}
.houseTitle::before {
  width: 4px;
  height: 28px;
  background: #5684fe;
  position: absolute;
  left: -8px;
  top: 0;
  content: "";
}
.icon-arrow-right {
  background: url("../images/icon-back.png") 100% 100% no-repeat;
  transform: rotate(180deg);
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  content: "";
  margin: -3px 4px;
}

.icon-arrow-left {
  background: url("../images/icon-back.png") 100% 100% no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  content: "";
  margin: -3px 4px;
}

.chinese {
  display: block;
  position: absolute;
  right: 0px;
  top: 25px;
  color: #999999;
}

.el-dialog .chinese {
  top: 27px;
}
.ql-editor strong {
  font-weight: bold;
}
.ql-editor em {
  font-style: italic;
}