@charset "UTF-8";
.structure ::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 8px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 8px;
}

.structure ::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #ccc;
}

.structure ::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #ededed;
}

.structure .title {
  font-size: 18px;
  color: #20274E;
  text-align: left;
  margin-bottom: 20px;
}

.structure .sel .el-form {
  display: flex;
}

.structure .sel .el-form .el-form-item:not(.button) {
  flex: 1;
}

.structure .sel .el-form .el-form-item:not(.button) .el-form-item__label {
  width: 100px;
  float: left;
}

.structure .sel .el-form .el-form-item:not(.button) .el-form-item__content {
  width: calc(100% - 100px);
  float: right;
}

.structure .sel .el-form .el-form-item:not(.button) .el-form-item__content .el-select {
  width: 100%;
}

.structure .sel .el-form .el-form-item:not(.button) .el-form-item__content .el-date-editor {
  width: 100%;
}

.structure .sel .el-form .button {
  width: 10%;
  flex: unset;
  text-align: right;
}

.structure .sel .el-form .button .el-button {
  padding: 0;
  width: 93px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  background-color: #4d67ec;
  border-color: #4d67ec;
  border-radius: 25px;
}

.structure .sel .el-form .button .reset {
  background-color: #EBEEFF;
  color: #4d67ec;
  border-color: #4d67ec;
}

.structure .sel .el-form .twoButton {
  width: 20%;
}

.structure .sel .operation {
  text-align: right;
}

.structure .sel .operation * {
  vertical-align: middle;
}

.structure .sel .operation img {
  margin-right: 5px;
  width: 16px;
}

.structure .sel .operation .el-button:not(.text) {
  background-color: #4d67ec;
  border-color: #4d67ec;
  border-radius: 25px;
  padding: 0;
  width: 93px;
  height: 32px;
  line-height: 31px;
  font-size: 14px;
  color: #fff;
}

.structure .contentBox {
  background: #FBFCFD;
  box-shadow: 0px 1px 7px 0px rgba(50, 62, 177, 0.21);
}

.structure .contentBox .table {
  margin-top: 20px;
}

.structure .contentBox .table .el-table tr {
  background: #FBFCFD;
}

.structure .contentBox .table .el-table tr td {
  padding: 0;
}

.structure .contentBox .table .el-table tr td .cell .el-button {
  font-size: 14px;
}

.structure .contentBox .table .el-table tr td .cell span * {
  vertical-align: middle;
}

.structure .contentBox .table .el-table tr td .cell span img {
  margin-right: 5px;
  width: 16px;
}

.structure .contentBox .table .el-table .el-table__fixed,
.structure .contentBox .table .el-table .el-table__fixed-right {
  height: calc(100% - 8px) !important;
}

.structure .contentBox .table .el-table .el-table__fixed .el-table__fixed-body-wrapper,
.structure .contentBox .table .el-table .el-table__fixed-right .el-table__fixed-body-wrapper {
  height: calc(100% - 36px) !important;
}

.structure .contentBox .table .el-table .el-table__body-wrapper.is-scrolling-none ~ .el-table__fixed-right {
  height: 100% !important;
  bottom: 0 !important;
  box-shadow: none !important;
}

.structure .contentBox .table .el-table .el-table--scrollable-y .el-table__fixed-right {
  right: 7px !important;
}

.structure .contentBox .table .el-table .el-table--scrollable-x:not(.el-table--scrollable-y) .el-table__fixed-right {
  right: 0 !important;
}

.structure .contentBox .pagination {
  margin-top: 40px;
  margin-right: 15px;
  padding-bottom: 68px;
  text-align: right;
}
